<p id="notice"><%= notice %></p>

<p>

  <% cache @zipcode do %>
  <strong>Zipcode:<%=@zipcode%></strong>
  <h1>Current Time:<%= @rightNow %><h1>
  <h1>Current Temp:<%=@liveTemp %><h1>
  <h1>Highest and lowest Temps for the next 5 days</h1>
  <h1>High Temp:<%=@maxTemp %><h1>
  <h1>Low Temp:<%=@minTemp %><h1>

  <ul>
  <%= @forecastTemps.each do |temp| %>
  		<li class="Forecast Block"> 
  			<p class="Date"><%= Date.parse temp[0] %> </p>
  			<p class="Time"><%= Time.parse temp[0] %> </p>    
  			<p class="Temp"><%= temp[1] %> </p>	
  		</li>
  <%end%>
  </ul>
</p>
 <% end %>
